h1 {
    font-size: 18px;
    font-weight: bolder;
    line-height: 25px;
    background: #eee;
    padding-left: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
}

h2 {
    font-size: 15px;
    font-weight: bolder;
    line-height: 25px;
    padding-top: 10px;
    margin-bottom: 5px;
}

section {
    padding-bottom: 20px;
    padding-top: 20px;
}

div {
    font-size: 14px;
}

div.item {
    margin-bottom: 10px;
}

div.items {
    padding: 5px;
}
