.navbar.navbar-fixed-top
    .navbar-inner
        .container
          a.btn.btn-primary.btn-dropnav(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='index.html') Tom Yeh
          .nav-collapse.collapse
            ul.nav.pull-right.animated
              link
